parameters:
    level: max
    paths:
        - src
        - test/TestType/FooCollection.php
        - test/TestType/IntCollection.php
    errorFormat: table
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    treatPhpDocTypesAsCertain: false
    checkUninitializedProperties: true
    rememberPossiblyImpureFunctionValues: false
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
